*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGQ5Z2Roemk4bjZiZWV5eWNwOTM4aDBkeGo5bXh6cWFpdDd2bWxscyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tBwXwUufSNkCKJxBm5/giphy.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.char{
    position: absolute;
    bottom: 20px;
    height: 200px;
}
#img1{
    left: 20px;
}
#img2{
    right: 50px;
}



/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGQ5Z2Roemk4bjZiZWV5eWNwOTM4aDBkeGo5bXh6cWFpdDd2bWxscyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tBwXwUufSNkCKJxBm5/giphy.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.player1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%,-50%);
}

.player2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%,-50%);
}

 */
